<h1>StaticPages#about</h1>
<p>Les informations arriveront soon</p>
<p>Trouvez les informations me concernant en cliquant <a href="http://localhost:3000/toi">ici</a></p>
<p>Trouvez les informations concernant mon équipe en cliquant <a href="http://localhost:3000/ton_groupe">ici</a></p>